extends layout

block content
  h2 Add a New Recipe to the Collection
  br
  if flashMsg.length > 0
    p.msg-style WARNING! #{flashMsg}
  form(action="/submit-recipe" method="POST" enctype="multipart/form-data")
    label(for="name") Recipe Name:
    input(type="text" name="name" required placeholder ="Enter recipe name")

    label(for="chef") Chef (or publisher):
    input(type="text" name="chef" required placeholder ="By who")

    label(for="description") Description:
    textarea(name="description" 
      rows="3"
      maxlength="300" 
      placeholder="Enter a brief recipe description (max length 300 characters)" 
      style="width: 75%; min-height: 50px; max-height: 200px; resize: vertical;")

    label(for="meal") Meal Type:
    select(name = "meal")
      option(value = "breakfast") Breakfast
      option(value = "lunch") Lunch
      option(value = "dinner") Dinner
      option(value = "dessert") Dessert
      option(value = "appetizer") Appetizer
      option(value = "drink") Drinks
      option(value = "side") Side Dish

    label(for="preptime") Prep Time (min):
    input.time-entry(type="number" name="preptime" min = "0" required placeholder ="Enter Prep Time in minutes")

    label(for="cooktime") Cook Time (min):
    input.time-entry(type="number" name="cooktime" min = "0" required placeholder ="Enter Cook Time in minutes")
    
    label(for="image") Upload Image:
    input(type="file" name="image" required)

    label(for="recipePDF") Optional: Upload pdf of the recipe
    input(type="file" name="recipePDF")

    button(type="submit") Submit Recipe

  br
  hr.form-separator