extends layout

block content
  h2 Welcome to DishQuest!
  p Share your favorite recipes with our community.

  h3 Recipe Collection
  hr

  if recipes.length
    ul
      each recipe in recipes
        li
          img(src=recipe.image, width="250")
          a(href='/recipe/' + recipe._id) #{recipe.name}
          p By: #{recipe.chef}
          p Total Time: #{parseInt(recipe.preptime) + parseInt(recipe.cooktime)} minutes
          p Added On: #{recipe.createdAt.toLocaleDateString('en-US')}
  else
    p No recipes added yet.
